<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Form</title>
</head>
<body>
    <form id="dishForm">
        <label for="dish_name">Dish Name:</label>
        <input type="text" id="dish_name" name="dish_name" required><br>
            <label>Ingredients:</label>
            <!-- Initial ingredient and quantity inputs -->
            <div id="ingredients-container">
            <div class="ingredient-group">
                <input type="text" placeholder="Ingredient" required>
                <input type="text" placeholder="Quantity" required>
            </div>
        </div>
        <button type="button" id="addIngredientBtn">Add Another Ingredient</button><br><br>

        <button id="add-ingredient" type="button">Submit</button>
    </form>
    <script type="module" src="../static/Form.js"></script>
</body>
</html>


